{% extends 'layout.html' %} {% block contenido %}

<h2>Factura #{{ factura.id_factura }}</h2>
<p>Emitida por el empleado: {{ empleado.nombre_usuario }}</p>
<p>Cliente: {{ cliente.nombre_usuario }}</p>
<p>Fecha: {{ factura.fecha }}</p>


<h3>Productos:</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Unidad de medida</th>
      <th>Precio</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for d in detalles %}
    <tr>
      <td>{{ d.producto_object.id_producto }}</td>
      <td>{{ d.producto_object.nombre_producto }}</td>
      <td>{{ d.producto_object.descripcion }}</td>
      <td>{{ d.cantidad }}</td>
      <td>{{ d.producto_object.unidad_medida }} </td>
      <td>${{ "%.2f"|format(d.precio_unitario) }}</td>
      <td>${{ "%.2f"|format(d.cantidad * d.precio_unitario) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h4 class="text-right">Total: ${{ '%.2f'|format(total) }}</h4>

{% endblock contenido %}