{%extends 'layout.html'%} 
{%block contenido%}

<h2>Crear Producto</h2>
<form id="ingresar_form" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">nombre del producto</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        name="nombre"
        placeholder="ingrese el nombre del producto"
        required
        onblur="ValidarNombre()"
      />
      <span class="alert alert-danger" role="alert" id ="ErrorNombre" style="display:none"> el nombre no debe incluir caracteres especiales solo letras y espacios</span>

      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="descripcion">Descripción</label>
          <input
            type="text"
            id="descripcion"
            class="form-control"
            name="descripcion"
            placeholder="ingrese una descripcion del producto"
            required
          
          />
         
    </div>
    <div class="form-group col-md-6">
      <label for="cantidad_inventario">Cantidad Inventario</label>
      <input
        type="number"
        id="cantidad_inventario"
        class="form-control"
        name="cantidad_inventario"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="precio_unitario">Precio Unitario</label>
      <input
        type="number"
        id="precio_unitario"
        class="form-control"
        name="precio_unitario"
        required
        onblur="ValidarPrecio()"
      />
    </div>
    <span class="alert alert-danger" role="alert" id ="ErrorPrecio" style="display:none">el precio no es valido, use un formato como 123 o 123.45 sin espacios</span>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="unidad_medida">Unidad de Medida</label>
      <select name="unidad_medida" id="unidad_medida" class="form-control">
        <option selected>Por favor seleccione...</option>
        <option value="GR">GR</option>
        <option value="UND">UND</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="categoria">Categoria</label>
      <select id="categoria" name="categoria" class="form-control">
        <option selected>Por favor seleccione...</option>
        <option value="1">Alimentos</option>
        <option value="2">Ropa</option>
        <option value="3">bebidas</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<script type="text/javascript">
function ValidarNombre(){
  console.log("entro a la funcion");
  let CampoNombre = document.getElementById("nombre");
  let ValorNombre =CampoNombre.value;
  let ErrorNombre = document.getElementById("ErrorNombre");
  console.log("el valor escrtio es: " + ValorNombre);
  var expresionregular = new RegExp("[a-zA-Z\s]+")
  if(expresionregular.test(ValorNombre)) { 
  console.log("el campo cumple la validacion");
  ErrorNombre.style.display = 'none';
  }else{
    console.log("el campo no cumple la validacion");
    ErrorNombre.style.display = 'block';
  }
}

</script>

<script type="text/javascript">
  function ValidarPrecio(){
    console.log("entro a la funcion");
    let CampoPrecio = document.getElementById("precio_unitario");
    let ValorPrecio =CampoPrecio.value;
    let ErrorPrecio = document.getElementById("ErrorPrecio");
    console.log("el valor escrtio es: " + ValorPrecio);
    var expresionregular = new RegExp("\\d+(\\.\\d{1,2})?")
    if(expresionregular.test(ValorPrecio)) { 
    console.log("el campo cumple la validacion");
    ErrorPrecio.style.display = 'none';
    }else{
      console.log("el campo no cumple la validacion");
      ErrorPrecio.style.display = 'block';
    }
  }
  
  </script>
{%endblock contenido%}
