{% extends 'layout.html' %} {% block contenido %}
<h2>Registrarse</h2>
<form id="registroform" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="correo">Correo</label>
      <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese un correo" required
        onblur="validarcorreo()" {% if usuario_almacenar %} value="{{ usuario_almacenar.correo }}" {% endif %} />
      {% if errorcorreo %}
      <span class="alert alert-danger" role="alert" id="ErrorCorreo" style="display: block">
        {{ errorcorreo }}
      </span>
      {% endif %}
    </div>

    <div class="form-group col-md-6">
      <label for="nombrecm">Nombre completo</label>
      <input type="text" class="form-control" id="nombrecm" name="nombre_persona"
        placeholder="Ingrese su nombre completo" required {% if usuario_almacenar %}
        value="{{ usuario_almacenar.nombre_persona }}" {% endif %} />
    </div>

    <div class="form-group col-md-6">
      <label for="usuario">Nombre de usuario</label>
      <input type="text" class="form-control" id="usuario" name="nombre_usuario" placeholder="Cree un usuario" required
        onblur="ValidarUsuario()" {% if usuario_almacenar %} value="{{ usuario_almacenar.nombre_usuario }}" {% endif
        %} />
      {% if errorusuario %}
      <span class="alert alert-danger" role="alert" id="ErrorUsuario" style="display: block">
        {{ errorusuario }}</span>
      {% endif %}
    </div>

    <div class="form-group col-md-6">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password" name="contraseña" placeholder="Ingrese una contraseña"
        required {% if usuario_almacenar %} value="{{ usuario_almacenar.contraseña }}" {% endif %} />
    </div>

    <div class="form-group col-md-6">
      <label for="tipo_usuario">¿Usted es?</label>
      <select id="tipo_usuario" name="tipo_usuario" class="form-control">
        <option value="">Por favor seleccione...</option>
        <option value="cliente">Cliente </option>
        <option value="empleado">Empleado</option>
      </select>
    </div>

    <div class="text-center mt-6"></div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </div>
</form>

<script type="text/javascript">
  function validarcorreo() {
    let CampoCorreo = document.getElementById("correo");
    let ValorCorreo = CampoCorreo.value;
    let ErrorCorreo = document.getElementById("ErrorCorreo");
    var expresionregular = new RegExp(
      "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
    );
    if (expresionregular.test(ValorCorreo)) {
      ErrorCorreo.style.display = "none";
    } else {
      ErrorCorreo.style.display = "block";
    }
  }
</script>

<script type="text/javascript">
  function ValidarUsuario() {
    let CampoUsuario = document.getElementById("usuario");
    let ValorUsuario = CampoUsuario.value;
    let ErrorUsuario = document.getElementById("ErrorUsuario");
    var expresionregular = new RegExp("^[a-zA-Z0-9._]{3,20}$");
    if (expresionregular.test(ValorUsuario)) {
      ErrorUsuario.style.display = "none";
    } else {
      ErrorUsuario.style.display = "block";
    }
  }
</script>
{%endblock contenido%}