{% extends 'layout.html' %}
{% block contenido %}
<h2>Listado de facturas</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Factura ID</th>
      <th>Correo</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Código Prod</th>
      <th>Nombre Prod.</th>
      <th>Cantidad</th>
      <th>Precio Unit.</th>
      <th>Subtotal</th>
      <th>Total Factura</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for factura, total_factura in facturas %}
    {% for detalle in factura.detalles %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ factura.detalles|length }}">{{ factura.id_factura }}</td>
      <td rowspan="{{ factura.detalles|length }}">{{ factura.empleado_object.correo }}</td>
      <td rowspan="{{ factura.detalles|length }}">{{ factura.empleado_object.nombre_usuario }}</td>
      <td rowspan="{{ factura.detalles|length }}">{{ factura.cliente_object.nombre_usuario }}</td>
      <td rowspan="{{ factura.detalles|length }}">{{ factura.fecha }}</td>
      {% endif %}
      <td>{{ detalle.id_producto }}</td>
      <td>{{ detalle.producto_object.nombre_producto }}</td>
      <td>{{ detalle.cantidad }}</td>
      <td>{{ detalle.precio_unitario }}</td>
      <td>{{ detalle.total }}</td>
      {% if loop.first %}
      <td rowspan="{{ factura.detalles|length }}">${{ '%.2f'|format(total_factura) }}</td>
      <td rowspan="{{ factura.detalles|length }}">
        <div class="btn-group btn-group-toggle">
          <button class="btn btn-primary btn-sm"
            onclick="window.location.href='{{ url_for('detalle_factura', id_factura=factura.id_factura) }}';">Detalle</button>
          <button class="btn btn-danger btn-sm"
            onclick="eliminarDetalle({{ detalle.id_detalle }}, this)">Borrar</button>
        </div>

      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}

  </tbody>
</table>

<script>
  function eliminarDetalle(idDetalle, boton) {
    if (!confirm("¿Deseas eliminar este producto de la factura?")) return;

    fetch(`/eliminar_detalle/${idDetalle}`, {
      method: 'POST',
    })
      .then(res => res.json())
      .then(data => {
        if (data.success) {
          boton.closest('tr').remove();
        } else {
          alert("Error al eliminar: " + (data.error || "Error desconocido"));
        }
      })
      .catch(err => {
        console.error(err);
        alert("No se pudo conectar con el servidor");
      });
  }
</script>
{% endblock contenido %}