<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #329be6b6"
    >
      <a class="navbar-brand" href="{{ url_for('index') }}">FACT-3000</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="btn btn-secondary dropdown-toggle"
              style="
                background-color: rgb(30, 106, 219);
                border: 2px solid rgb(0, 102, 255);
              "
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="lista_productos"
                >Listar Productos</a
              >
              <a
                class="dropdown-item"
                href="{{ url_for('formulario_producto') }}"
                >Crear Producto</a
              >
              <a class="dropdown-item" href="{{ url_for('factura') }}"
                >facturación</a
              >
            </div>
          </li>
        </ul>
        <style>
          .sidebar {
            position: fixed;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            background-color: #00a0fd3f;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
            transition: right 0.3s ease;
            padding: 20px;
            z-index: 1050;
          }

          .sidebar.show {
            right: 0;
          }

          .toggle-btn {
            cursor: pointer;
          }

          .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            background: none;
            border: none;
            cursor: pointer;
          }
        </style>
        <img
          src="{{ url_for('static', filename='usuario.jpg') }}"
          alt="Abrir menú"
          width="40"
          class="toggle-btn"
          onclick="toggleSidebar()"
          style="position: fixed; top: 10px; right: 20px; z-index: 1100"
        />
        <div id="sidebar" class="sidebar">
          <button class="close-btn" onclick="toggleSidebar()">✖</button>
          <h5>Opciones de incio</h5>
          <button
            type="button"
            class="btn btn-primary"
            style="margin-top: 30px"
            width="40"
            onclick="window.location.href='{{ url_for('formulario_usuario') }}';"
          >
            ingresar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            style="margin-top: 30px"
            width="40"
            onclick="window.location.href='{{ url_for('formulario_Nue_usuario') }}';"
          >
            registrarse
          </button>
        </div>
      </div>
    </nav>
    <script>
      function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        const image = document.querySelector(".toggle-btn");

        sidebar.classList.toggle("show");

        if (sidebar.classList.contains("show")) {
          image.style.display = "none";
        } else {
          image.style.display = "block";
        }
      }

      document.addEventListener("click", function (event) {
        const sidebar = document.getElementById("sidebar");
        const image = document.querySelector(".toggle-btn");

        if (
          sidebar.classList.contains("show") &&
          !sidebar.contains(event.target) &&
          !image.contains(event.target)
        ) {
          sidebar.classList.remove("show");
          image.style.display = "block";
        }
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {%block contenido %} {%endblock%}
  </body>
</html>
