{%extends'layout.html' %} {%block contenido%}
<h2>Listado de usuarios</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">correo</th>
      <th scope="col">Nombre</th>
      <th scope="col">usuario</th>
      <th scope="col">contraseña</th>
      <th scope="col">Tipo de usuario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <th scope="row">{{usuario.id_usuario}}</th>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.nombre_persona}}</td>
      <td>{{usuario.nombre_usuario}}</td>
      <td>{{usuario.contraseña}}</td>
      <td>{{usuario.tipo_usuario}}</td>

      <td>
        <button type="button" class="btn btn-success"
          onclick="window.location.href='{{ url_for('formulario_Nue_usuario') }}';">
          Editar
        </button>

        <button type="button" class="btn btn-danger" onclick="eliminarFila(this)">
          Borrar
        </button>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<script>
  function eliminarFila(boton) {
    if (confirm("¿Seguro que deseas eliminar este producto?")) {
      let fila = boton.closest("tr"); // Encuentra la fila donde está el botón
      fila.remove(); // Elimina la fila de la tabla
    }
  }
</script>
{%endblock contenido%}