{%extends 'layout.html'%} {%block contenido%}

<h2>Listado de Productos</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Cantidad Inventario</th>
      <th scope="col">Precio</th>
      <th scope="col">Unidad de Medida</th>
      <th scope="col">categoria</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <th scope="row">{{producto.id_producto}}</th>
      <td>{{producto.nombre}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.cantidad_inventario}}</td>
      <td>{{producto.precio_unitario}}</td>
      <td>{{producto.unidad_medida}}</td>
      <td>{{producto.categoria}}</td>

      <td>
        <button
          type="button"
          class="btn btn-success"
          onclick="window.location.href='formulario_producto.html'"
        >
          Editar
        </button>

        <button
          type="button"
          class="btn btn-danger"
          onclick="eliminarFila(this)"
        >
          Borrar
        </button>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

<script>
  function eliminarFila(boton) {
    if (confirm("¿Seguro que deseas eliminar este producto?")) {
      let fila = boton.closest("tr"); // Encuentra la fila donde está el botón
      fila.remove(); // Elimina la fila de la tabla
    }
  }
</script>
{%endblock contenido%}
